<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" title="cse4413" media="screen, print" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layer2.css') }}" title="cse4413" media="screen, print" />
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArPaRW8sHBUIY4d1FrOk7COHC8-s-qDE8&v=3.exp&sensor=false&libraries=places"></script>
  <script src="static/js/autoComplete.js"></script>
	
  <meta charset="UTF-8">
  <title>Project Nomad</title>
</head>
<body>

{% if False %}
  <div>
  </div>
{% else %}
{% block layer1%}{% endblock %}
{% endif %}

</body>
</html>
